@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font: 'Montserrat', sans-serif;
$weight-700: 700;
$weight-600: 600;
$weight-500: 500;
